@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<p>This site allows residents to share information about The Metropole building.</p>
<p> Registered users can opt in to a WhatsApp group and/or receive relevant e-mails relating to building issues.</p>
<p> A registered user can create an article of interest to other residents and invite feedback.</p>
