@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<p>This site allows residents to communicate about The Metropole building via surveys.</p>
<p>Registered users can opt in to receive survey e-mails relating to building issues and/or opt in to a WhatsApp group to facilitate discussion over building issues. </p>
<p>A registered user can create a new survey and invite other residents to take the survey.<br/>Only 1 vote per flat is allowed - if multiple occupants register with the same Flat address then the most recent survey submitted by all flat occupants will be taken as the Flat response.</p>
