@{
    ViewBag.Title = "Contacts";
}
<h1>@ViewBag.Title</h1>


<h2>Factor: Spiers Gumley</h2>

<p>The factor may be contacted via following details:</p>
<p>
    <strong>Spiers Gumley</strong>,<br />
    194 Bath Street,<br />
    Glasgow<br />
    G2 4LE<br />
</p>
<p>
    <strong>T</strong>: 0141 332 9225&nbsp;<br/>
    <strong>E</strong>:&nbsp;<a href="mailto:glasgow@speirsgumley.com">glasgow@speirsgumley.com</a>
</p>


<h2>Building Location</h2>
<p>
    The Metropole,<br />
    87 Dunlop Street,<br />
    Glasgow,<br />
    G1 4ET
</p>

<h2>Website Enquiries</h2>
<p>
Please report all enquiries to the <strong>@Html.ActionLink("Administrator", "EmailAdmin")</strong>
</p>


