@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Survey
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"href="@Url.Action("Create", "Surveys")">Create Survey</a>
            <a class="dropdown-item" href="@Url.Action("Index", "Surveys")">List Surveys</a>
            <a class="dropdown-item" href="@Url.Action("Index", "Reports")">Survey Results</a>
           
        </div>
    </li>
}
